<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../ico/RedCrossCurser.ico">

        <title>Link Spyder</title>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        {% load staticfiles %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'link_spyder/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'link_spyder/gist_manager/css/style-responsive.min.css' %}" />

    </head>

    <body>

        <div class="container">

            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="../">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h2 class="text-muted">linksypder.com</h2>
            </div>

            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>

            <div class="footer">
              <div class="container">
                <div class="row">
                    <p><br>&copy; Link Spyder Inc. 2014 - This software is not guaranteed in any way shape or form.
                    <a href="#">Privacy Policy</a>
                    </p>
                </div>
              </div>
            </div>

        </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="{% static "js/histogram_chart.js" %}"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
        <script src="js/CodeFlower.js"></script>
        <script src="js/dataConverter.js"></script>
        <script src="js/d3/geom.js"></script>
        <script src="js/d3/d3.js"></script>
        <script src="js/d3/d3.layout.js"></script>
        <script src="js/d3/detector.js"></script>
    </body>

</html>